.whitesmoke {
    background: #fff;
}

.contain-banner {
    position: relative;
    text-align: center;
}
.img-height {
    max-height: 10rem;
    width: auto;
}

.text-block {
    position: absolute;
    color: white;
    bottom: 0;
    margin-bottom: 5rem;
    width: 100%;
}

.icon-size {
    width: 5rem;
}

.img-blur {
    filter: blur(4px);
    -webkit-filter: blur(4px);
}

.red {
    color: rgb(163, 5, 5) !important;
}

.font-size-lg {
    font-size: 3rem;
    font-weight: bold;
}

.font-size-md {
    font-size: 1rem;
}

.img-size {
    max-width: 8rem;
    max-height: 8rem;
}

.font-abril {
    font-family: 'Abril Fatface', cursive;
}

.font {
    font-family: 'Abril Fatface', cursive;
    font-family: 'Bree Serif', serif;
    font-family: 'Montserrat Subrayada', sans-serif;
}

.height {
    height: 3rem;
}

.li-margin {
    margin: 0px 30px 0px 30px;
}
.carousel-margin {
    margin: 0vw 0vw 0vw 15vw;
}
.footer-bottom {
    position: static;
    margin: 0vw 0vw 0vw 2vw;
}
.font-size {
    font-size: 5vw;
}
#toggle-menu {
    height: 3rem;
    width: 3rem;
    padding: 32px;
}

#hamburger {
    height: 100%;
    width: 100%;
}

#next-margin {
    margin: 0vw 20vw 0vw 0vw;
}

