.contain-banner {
    position: relative;
    text-align: center;
    color: lightgray;
}
.img-height {
    max-height: 15rem;
    width: 100%;
}

.text-block {
    position: absolute;
    color: white;
    bottom: 0;
    margin-bottom: 5rem;
    width: 100%;
}

.icon-size {
    width: 5rem;
    height: 5rem;
    margin-left: 5rem;
    margin-top: 3rem;
}